<div class="list-group pb-3 ">

  <a routerLink="/" class="list-group-item list-group-item-action active">Main</a>
  <a routerLink="/table" class="list-group-item list-group-item-action">Table</a>
  <a routerLink="/image" class="list-group-item list-group-item-action">Card with Image</a>
  <a routerLink="/form" class="list-group-item list-group-item-action ">Form</a>
</div>

<div class="pb-3">
  <div class="card">

    <div class="card-header bg-primary text-light ">
      <b>Log In</b>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </form>


      <div>
        <button type="button" class="btn btn-outline-primary float-right ">Sign In</button>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="card ">
    <div class="card-header bg-primary text-light">Register</div>
    <div class="card-body ">
      <app-signup></app-signup>
    </div>
  </div>
</div>




