<div class="btn-group bg " role="group" aria-label="Basic example">
  <a routerLink="/" type="button" class="btn btn-secondary ">Main</a>
  <a routerLink="/table" type="button" class="btn btn-secondary ">Page1</a>
  <a routerLink="/image" type="button" class="btn btn-secondary ">Page2</a>
  <a routerLink="/form" type="button" class="btn btn-secondary ">Page3</a>


</div>

