<form (ngSubmit)="onSignUp(f)" #f="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email" name="email" ngModel class="form-control"  placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control"  placeholder="Password">
  </div>

    <button class="btn btn-outline-primary float-right" type="submit">Register</button>


</form>

