<table class="table">

  <thead class="thead-dark">

  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
    <th scope="col" width="15%">Buttons</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"><input class="form-control" type="text"></th>
    <th scope="row"><input class="form-control" type="text"></th>
    <th scope="row"><input class="form-control" type="text"></th>
    <th scope="row"><input class="form-control" type="text"></th>
    <th>
      <button class="form-control btn btn-info " type="search">Search</button>
    </th>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>

      <button class="btn btn-outline-danger btn-sm">
        <i class="fab fa-angular"></i>
      </button>
      <button class="btn btn-outline-secondary btn-sm">
        <i class="fab fa-apple"></i>
      </button>
      <button class="btn btn-outline-success btn-sm">
        <i class="fab fa-android"></i>
      </button>
    </td>
  </tr>

  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>
      <button class="btn btn-outline-danger btn-sm">
        <i class="fab fa-angular"></i>
      </button>
      <button class="btn btn-outline-secondary btn-sm">
        <i class="fab fa-apple"></i>
      </button>
      <button class="btn btn-outline-success btn-sm">
        <i class="fab fa-android"></i>
      </button>
    </td>


  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
    <td>
      <button class="btn btn-outline-danger btn-sm">
        <i class="fab fa-angular"></i>
      </button>
      <button class="btn btn-outline-secondary btn-sm">
        <i class="fab fa-apple"></i>
      </button>
      <button class="btn btn-outline-success btn-sm">
        <i class="fab fa-android"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>


