<div class="card">
  <div class="card-header  bg-primary text-light ">
    <b>Card</b>
  </div>
  <div class="card-body p-0">
    <div  class="row ">
      <div class= "col-md-6 col-sm-12  " >
        <img src="image.jpg" class=" w-100" alt="Cinque Terre"  >
      </div>

      <div class=" col-md-6 col-sm-12 d-none d-sm-block  ">
        <p class="card-text  p-2">Food is any substance[1] consumed to provide nutritional support for an organism.
          It is usually of plant or animal origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals.
          The substance is ingested by an organism and assimilated by the organism's cells to provide energy, maintain life, or stimulate growth.</p>
      </div>

    </div>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-dark float-right ">Delete</button>
    <button type="button" class="btn btn-secondary float-right mr-2 ">Edit</button>
  </div>

</div>
