<div class="container bg-primary text-light ">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <p>VK</p>
      <p>Instagram</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Facebook</p>
      <p>Twitter </p>
    </div>
    <div class="col-md-4 col-sm-12">
      <p>Angular</p>
      <p>Telegram</p>
    </div>
  </div>
</div>
