<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 p-3">
      <app-header></app-header>
    </div>
    <div class="col-md-3 col-sm-12">
      <app-menu></app-menu>
    </div>
    <div class="col-md-9 col-sm-12 ">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-12 col-sm-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>



